.artist {
  padding-top: 1.5rem;
  color: $white;

  &__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &__listeners {
    font-family: $ff-extra;
    color: $gray_200;
    font-size: 0.9rem;
  }

  &__scrobbles {
    margin-top: 0.4rem;
    font-family: $ff-extra;
    color: $gray_200;
    font-size: 0.9rem;
  }

  &__text {
    margin-top: 2.5rem;
    color: $gray_200;

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__albums-list {
    margin-top: 2rem;
  }
}