.album-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $black;
  transition: background-color ease-out 0.5s;

  &:hover {
    background-color: $gray_900;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__card-preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    position: relative;
    z-index: 10;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    text-align: center;
    color: $white;
    opacity: 0;
    transform: translateY(0.7rem);
    transition: all ease-out 0.2s;

    .album-card:hover & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__listeners {
    font-family: $ff-extra;
    opacity: 0.6;
    margin-top: 0.7rem;
    font-size: 0.9rem;
    color: $white;
    transition: opacity ease-out 0.2s;

    .album-card:hover & {
      opacity: 0.9;
    }
  }
}

.album-card-preloader-leave-from {
  opacity: 1;
}

.album-card-preloader-leave-to {
  opacity: 0;
}

.album-card-preloader-leave-active {
  transition: opacity ease-out 0.4s;
}