.albums-tile {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    width: 20%;
    position: relative;
    flex-shrink: 0;

    &::after {
      content: '';
      display: block;
      width: 100%;
      position: relative;
      height: 0;
      z-index: 5;
      padding-top: 100%;
      pointer-events: none;
      background-color: $black;
      opacity: 0;
      transition: opacity ease-out 0.2s;
    }

    &:hover::after {
      opacity: 0.8;
    }
  }
}