.app-header {
  height: 4rem;
  background-color: $black;
  color: $white;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    color: $red;
    text-decoration: none;
    font-size: 2rem;
  }

  &__nav {
    margin-left: 2rem;
  }
}